<div class="body">
  <header class="header">
    <a class="navbar-logo" routerLink="/home">
    <img id="logo" src="https://raw.githubusercontent.com/JoaoHenrique132/fts/main/pngwing.com.png">
    </a>
  </header>

  <div class="flex-container">

    <mat-card class="flex-card">
      <mat-card-content>
        <p><strong>Respostas enviadas com sucesso! </strong>	</p>
    </mat-card-content>
    <mat-card-content>
        <p>Muito brigado por responder o questionário!</p>
    </mat-card-content>
    </mat-card>
    
  </div>
</div>
