<header class="header">
  <a class="navbar-logo" routerLink="/home">
    <img id="logo"
      src="https://raw.githubusercontent.com/JoaoHenrique132/fts/main/pngwing.com.png"
      alt="Logo"
      srcset="https://raw.githubusercontent.com/JoaoHenrique132/fts/main/pngwing.com.png">
  </a>
</header>

<div class="flex-container">
  <button mat-mini-fab color="primary" routerLink="/questoes/lista-questao">
    <mat-icon>
      arrow_left
    </mat-icon>
  </button>

  <mat-card class="flex-card">
    <mat-card-content>
      <mat-card-title>Questão {{questao.id}}</mat-card-title>
    </mat-card-content>

    <mat-card-content>
      <mat-card-subtitle>Id da Questão:</mat-card-subtitle>
      {{questao.id}}
    </mat-card-content>

    <mat-card-content>
      <mat-card-subtitle>Enunciado da questão:</mat-card-subtitle>
      {{questao.enunciado}}
    </mat-card-content>

   
    <mat-card-content>
      <mat-card-subtitle>Aternativas da questão:</mat-card-subtitle>
      <p *ngFor="let alternativa of questao.alternativas; let i = index">
        {{alternativa}}
      </p>
    </mat-card-content>

    <button class="btn" routerLink="/questoes/editar-questao/{{questao.id}}" mat-raised-button color="primary" type="button"
      style="margin-top: 10px;">Editar questão</button>

  </mat-card>
</div>
